
.Main-header {
    max-width:100%;
    max-height: 10vh;
    display: flex;
    flex-wrap:row wrap;
    align-items: center;
    position:relative;
}


.Label-header
{
    display: flex;
    flex-wrap:row wrap;
    background-color: #464646;
    max-width:100%;
    border-radius: 2%;
    min-height: 8vh;
    margin: 9px 0px;
    padding-left: 22px;
    align-items: center;
    color:white;
}

/* details header styles*/
.root-149 
{
color: white;
}
.ms-DetailsHeader-cellTitle {
    background-color: #24272c;
    color: white;
    font-size: x-large;
    border: 1px solid #24272c;
    
}
.ms-FocusZone {
     background-color: #282c34; 
    color: white;
    padding-top:2px;
    border: none;
}
.ms-List-cell:nth-child(odd) .ms-DetailsRow {
    background-color: #464646;
    color: white;
    padding:0;
   border-bottom: none;
  }
.ms-List-cell:nth-child(even) .ms-DetailsRow {
    background-color:  #24272c;
    color: white;
    padding: 0;
}

/* dropdown styles*/
.ms-Dropdown-title, .ms-Dropdown-title::after
{
    background-color: #282c34;
    color: #0483d1;
}
.ms-Dropdown-container:hover .ms-Dropdown-title {
    background-color: #282c34;
    color:#0483d1;
    border: 1px solid whitesmoke;
}
.ms-Dropdown-optionText
{
    color:#0483d1
}

.ms-Dropdown-optionText:hover .ms-Dropdown-item{
    color: white;
   
}




/*Toggle styles*/
.ms-Label{
    color: white;
}

/* .ms-List-cell:nth-child(even) .ms-DetailsRow {
    background: #EEE;

    background-color: black;
    color: blue;
    border: 2px solid whi
  } */